{% extends "inventory_database/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
<div class="w3-display-middle">
<header class="w3-container" style="padding-top:22px">
	<h5><b><i class="fa fa-edit"></i> Change Password</b></h5>
</header>
{% for field in form %}
<form method="post" action=".">
  {% csrf_token %} 
    {{ field.errors }}
    <b>{{ field.label }}</b></label> <p>{{ field|add_class:"w3-input w3-animate-input" }}</p>
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
	{% endif %}
{% endfor %}
  <button class="w3-btn w3-black" type="submit" value="Submit"> Submit</button>
</form>
</div>
{% endblock content %}
