{% extends "inventory_database/base.html" %}

{% block content %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
	<header class="w3-container" style="padding-top:22px">
		<h5><b><i class="fa fa-desktop"></i> Browse Inventory</b></h5>
	</header>
	<div class="w3-row-padding w3-margin-bottom">
	<table id="asset_table" class="w3-table w3-striped w3-white w3-hoverable">
    <tr>
		<td onclick=sortTable()><b>Asset Name</b></td>
		<td><b>Serial Number</b></td>
		<td onclick=sortTableMan() ><b>Manufacturer</b></td>
		<td onclick=sortTableMod()><b>Model</b></td>
    </tr>
	{% if inventory_fac or inventory_student %}
	{% for asset in inventory_fac %}
    <tr>
		<td><a href="{% url 'show_asset' asset.slug %}">{{ asset.name }}</a></td>
		<td>{{ asset.serial }}</td>
		<td>{{ asset.manufacturer }}</td>
		<td>{{ asset.model }}</td>
    </tr>
		{% endfor %}
	{% for asset in inventory_student %}
    <tr>
		<td><a href="{% url 'show_asset' asset.slug %}">{{ asset.name }}</a></td>
		<td>{{ asset.serial }}</td>
		<td>{{ asset.manufacturer }}</td>
		<td>{{ asset.model }}</td>
    </tr>
		{% endfor %}
		{% endif %}
	</table>
</div>

<script>
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("asset_table");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortTableMan() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("asset_table");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[2];
      y = rows[i + 1].getElementsByTagName("TD")[2];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}

function sortTableMod() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("asset_table");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[3];
      y = rows[i + 1].getElementsByTagName("TD")[3];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}

window.onload = sortTable();
</script>

{% endblock content %}