{% extends "inventory_database/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  <!-- Header -->
<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openTab('Info')">Info</button>
  <button class="w3-bar-item w3-button" onclick="openTab('Software')">Software</button>
</div> 
<div id="Info" class="tab w3-animate-right">	
	<header class="w3-container" style="padding-top:22px">
		<h5><b><i class="fa fa-desktop"></i> {{ Asset.name }} </b> {% if user.get_username in editors %}<a id="delete" onclick="confirmDel()" href=# />Delete</a>{% endif %}</h5>
	</header>
	{% if Asset %}
		{% if user.get_username not in editors %}
		<table class="w3-table w3-striped w3-white w3-hoverable">
		<tr>
			<td><b>Serial Number:</b></td>
			<td>{{ Asset.serial }}</td>
		</tr>
		<tr>
			<td><b>Manufacturer:</b></td>
			<td>{{ Asset.manufacturer }}</td>
		</tr>
		<tr>
			<td><b>Model:</b></td>
			<td>{{ Asset.model }}</td>
		</tr>
		<tr>
			<td><b>Warranty Expires:</b></td>
			<td>{{ Asset.war_exp }}</td>
		</tr>
		<tr>
			<td><b>Date Assigned:</b></td>
			<td>{{ Asset.date_assigned }}</td>
		</tr>
		{% if is_fac %}
		<tr>
			<td><b>Assignee:</b></td>
			<td>{{ Asset.assignee }}  <a href="{% url 'show_employee' employee.slug %}" />Details</q></td>
		</tr>
		{% else %}
		<tr>
			<td><b>Room:</b></td>
			<td>{{ Asset.room }}  <a href="{% url 'show_room' room.slug %}" />Details</q></td>
		</tr>
		{% endif %}
		</table>
		{% else %}
		<form id="asset_form" method="post" action="{% url 'show_asset' Asset.slug %}">
		{% csrf_token %}
		<table class="w3-table w3-striped w3-white w3-hoverable">
		<tr>
			<td><b>Serial Number:</b></td>
			<td>{{ form.serial }} {{ form.errors }}</td>
		</tr>
		<tr>
			<td><b>Manufacturer:</b></td>
			<td>{{ form.manufacturer }}</td>
		</tr>
		<tr>
			<td><b>Model:</b></td>
			<td>{{ form.model }}</td>
		</tr>
		<tr>
			<td><b>Warranty Expires:</b></td>
			<td>{{ form.war_exp }}</td>
		</tr>
		<tr>
			<td><b>Date Assigned:</b></td>
			<td>{{ form.date_assigned }}</td>
		</tr>
		{% if is_fac %}
		<tr>
			<td><b>Assignee:</b></td>
			<td>{{ form.assignee }}  {% if employee %}<a href="{% url 'show_employee' employee.slug %}" />Details</a>{% endif %}</td>
		</tr>
		{% else %}
		<tr>
			<td><b>Room:</b></td>
			<td>{{ form.room }}  <a href="{% url 'show_room' room.slug %}" />Details</q></td>
		</tr>
		{% endif %}
		</table>
		<div class="w3-container" style="padding-top:22px">
			<button class="w3-btn w3-black" type="submit" name="submit" value="ok" />Update</button>
		</div>
		</form>
		</div>
		{% endif %}
		<script>
		function confirmDel() {
			if (confirm("Are you sure you want to delete this item")) {
				link = document.getElementById("delete");
				link.href="{% url 'delete_asset' Asset.slug %}"
			}
		}
		function openTab(tabName) {
			var i;
			var x = document.getElementsByClassName("tab");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none"; 
			}
			document.getElementById(tabName).style.display = "block"; 
		}
		</script>
	{% else %}
		The specified asset doesn't exist!
	{% endif %}
<div id="Software" class="tab w3-animate-right" style="display:none">	
	<header class="w3-container" style="padding-top:22px">
		<h5><b><i class="fa fa-share-square-o"></i> {{ Asset.name }} </b></h5>
	</header>
	{% if software %}
		<table class="w3-table w3-striped w3-white w3-hoverable">
		<tr>
		<th><b>Software</b></th>
		</tr>
		{% if user.get_username not in editors %}
		{% for software in software %}
		<tr>
		<td>{{ software.software }}</td>
		</tr>
		{% endfor %}
		{% else %}
		{% for software in software %}
		<tr>
		<td>{{ software.software }} <a id="delete" href="{% url 'delete_software' software.id %}" /> Remove</a></td>
		</tr>
		{% endfor %}
		</table>
</div>
		{% endif %}
	{% else %}
		This asset has no assigned software!
	{% endif %}
</div>
{% endblock %}
