<!DOCTYPE html>
<html>
<head>
	<title>inventory_database</title>
</head>
<body>
	<div>
	{% if category %}
		<h1>{{ category.name }}</h1>
		{% if pages %}
			<ul>
			{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>No pages currently in category.</strong>
		{% endif %}
	{% else %}
		The specified Category doesn't exist!
	{% endif %}
	</div>
	<div>
		<a href="/inventory_database/">Home</a><br />
	</div>
</body>
</html>