{% extends "inventory_database/base.html" %}
{% load widget_tweaks %}

{% block content %}
<!-- !PAGE CONTENT! -->
<script>
function Hide() {
    if(document.getElementById('id_search_by').options[document.getElementById('id_search_by').selectedIndex].value == '1') {
         document.getElementById('id_searchName').style.display = '';
         document.getElementById('id_searchSerial').style.display = 'none';
		 document.getElementById('id_searchModel').style.display = 'none';
		 document.getElementById('id_searchManufacturer').style.display = 'none';
		 document.getElementById('id_searchAssignee').style.display = 'none';
		 document.getElementById('id_searchRoom').style.display = 'none';
    }
    if(document.getElementById('id_search_by').options[document.getElementById('id_search_by').selectedIndex].value == '2') {
         document.getElementById('id_searchName').style.display = 'none';
         document.getElementById('id_searchSerial').style.display = '';
		 document.getElementById('id_searchModel').style.display = 'none';
		 document.getElementById('id_searchManufacturer').style.display = 'none';
		 document.getElementById('id_searchAssignee').style.display = 'none';
		 document.getElementById('id_searchRoom').style.display = 'none';
    }
    if(document.getElementById('id_search_by').options[document.getElementById('id_search_by').selectedIndex].value == '3') {
         document.getElementById('id_searchName').style.display = 'none';
         document.getElementById('id_searchSerial').style.display = 'none';
		 document.getElementById('id_searchModel').style.display = '';
		 document.getElementById('id_searchManufacturer').style.display = 'none';
		 document.getElementById('id_searchAssignee').style.display = 'none';
		 document.getElementById('id_searchRoom').style.display = 'none';
    }
    if(document.getElementById('id_search_by').options[document.getElementById('id_search_by').selectedIndex].value == '4') {
         document.getElementById('id_searchName').style.display = 'none';
         document.getElementById('id_searchSerial').style.display = 'none';
		 document.getElementById('id_searchModel').style.display = 'none';
		 document.getElementById('id_searchManufacturer').style.display = '';
		 document.getElementById('id_searchAssignee').style.display = 'none';
		 document.getElementById('id_searchRoom').style.display = 'none';
    }
    if(document.getElementById('id_search_by').options[document.getElementById('id_search_by').selectedIndex].value == '5') {
         document.getElementById('id_searchName').style.display = 'none';
         document.getElementById('id_searchSerial').style.display = 'none';
		 document.getElementById('id_searchModel').style.display = 'none';
		 document.getElementById('id_searchManufacturer').style.display = 'none';
		 document.getElementById('id_searchAssignee').style.display = '';
		 document.getElementById('id_searchRoom').style.display = 'none';
    }
    if(document.getElementById('id_search_by').options[document.getElementById('id_search_by').selectedIndex].value == '6') {
         document.getElementById('id_searchName').style.display = 'none';
         document.getElementById('id_searchSerial').style.display = 'none';
		 document.getElementById('id_searchModel').style.display = 'none';
		 document.getElementById('id_searchManufacturer').style.display = 'none';
		 document.getElementById('id_searchAssignee').style.display = 'none';
		 document.getElementById('id_searchRoom').style.display = '';
    }
}

window.onload = function() {
    document.getElementById('id_search_by').onchange = Hide;
    document.getElementById('id_searchName').style.display = '';
    document.getElementById('id_searchSerial').style.display = 'none';
	document.getElementById('id_searchModel').style.display = 'none';
	document.getElementById('id_searchManufacturer').style.display = 'none';
	document.getElementById('id_searchAssignee').style.display = 'none';
	document.getElementById('id_searchRoom').style.display = 'none';
};
</script>

<div class="w3-display-middle">
  <!-- Header -->
	<header class="w3-container" style="padding-top:22px">
		<h5><b><i class="fa fa-search"></i> Search Inventory</b></h5>
	</header>
			<form id="search" method="post" action="/inventory_database/search/">
				{% csrf_token %}
				<b>{{ form.search_by.help_text }}</b>
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					<p>{{ field|add_class:"w3-input w3-animate-input" }}</p>
				{% endfor %}
				<button class="w3-btn w3-black" type="submit" name="submit" value="Search">SEARCH</button></p>
			</form>
</div>
{% endblock content %}