{% extends "inventory_database/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  <!-- Header -->
	<header class="w3-container" style="padding-top:22px">
		<h5><b><i class="fa fa-folder"></i> {{ software.name }}</b></h5>
	</header>
	{% if software %}
		{% if user.get_username not in editors %}
		<table class="w3-table w3-striped w3-white w3-hoverable">
		<tr>
			<td><b>Developer:</b></td>
			<td>{{ software.developer }}</td>
		</tr>
		<tr>
			<td><b>Assigned Department:</b></td>
			<td>{{ software.assigned_dept }}</td>
		</tr>
		<tr>
			<td><b>License Type:</b></td>
			<td>{{ software.license_type }}</td>
		</tr>
		<tr>
			<td><b>License Expires:</b></td>
			<td>{{ software.lic_exp }}</td>
		</tr>
		<tr>
			<td><b>Licenses Used:</b></td>
			<td>{{ software.license_used }}</td>
		</tr>
		</table>
		{% else %}
		<form id="software_form" method="post" action="{% url 'show_software' software.slug %}">
		{% csrf_token %}
		<table class="w3-table w3-striped w3-white w3-hoverable">
		<tr>
			<td><b>Developer:</b></td>
			<td>{{ form.developer }}</td>
		</tr>
		<tr>
			<td><b>Assigned Department:</b></td>
			<td>{{ form.assigned_dept }}</td>
		</tr>
		<tr>
			<td><b>License Type:</b></td>
			<td>{{ form.license_type }}</td>
		</tr>
		<tr>
			<td><b>License Expires:</b></td>
			<td>{{ form.lic_exp }}</td>
		</tr>
		<tr>
			<td><b>Licenses Used:</b></td>
			<td>{{ software.license_used }}</td>
		</tr>
	<tr>
		<td><b>Installed on: </b></td>
		<td>
			{% for computer in software_list %}
			{% if computer.faculty_computer %}
			 <b>|</b> {{ computer.faculty_computer }} <b>|</b>
			{% else %}
			 <b>|</b> {{ computer.student_computer }} <b>|</b>
			{% endif %}
			{% endfor %}
		</td>
	</tr>
		</table>
	<div class="w3-container" style="padding-top:22px">
		<button class="w3-btn w3-black" type="submit" name="submit" value="ok" />Update</button>
	</div>
	</form>
	</div>
		{% endif %}
	{% else %}
		The specified room doesn't exist!
	{% endif %}
</div>
{% endblock %}
